<h3>Welcome to Student Edit Page</h3>
<form (ngSubmit)="updateStudent()">
Student Id : <input type="text" class="formcontrol" [(ngModel)]="student.stdId" name="stdId" readonly/>
Student Name : <input type="text" class="formcontrol" [(ngModel)]="student.stdName" name="stdName"/>
Student Fee : <input type="text" class="formcontrol" [(ngModel)]="student.stdFee" name="stdFee"/>
Student Course : <input type="text" class="formcontrol" [(ngModel)]="student.stdCourse" name="stdCourse"/>
<input type="submit" value="Update" class="btn btn-success"/>
</form>